<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_frame"/>
        <origin xyz="0.195 0 0.095" rpy="0 0 0"/>
    </joint>

    <link name="camera_frame">
        <visual>
            <origin xyz="-0.094 0 -0.085"/>
            <geometry>
                <mesh filename="package://tankbot/meshes/camera.STL"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0.195 0 0.095" rpy="0 0 0"/> -->
            <geometry>
                <box size="0.035 0.035 0.035" />
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.04" x="0.035" y="0.035" z="0.035">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
</robot>